@{
    ViewBag.Title = "Informationen";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Diese Awendung dient dazu, einem Verin durch Eingabe der anwesenden Vereinskollegen sich die möglichen Arbeiten anzeigen zu lassen.</p>