@{
    ViewBag.Title = "Contact";
}
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Gerbergasse 3<br />
    85049 Ingolstadt<br />
    <abbr title="Telefon">T:</abbr>
    0176 34515486
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ole-weber@t-online.de">ole-weber@t-online.de</a>
</address>